variant: flatcar
version: 1.1.0

passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ op://Infrastructure/$FLATCAR_NODE/public key }}     
      groups:
        - sudo
        - docker
storage:
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: $FLATCAR_NODE 
systemd:
  units:
    - name: docker.socket
      enabled: true
