configs:
  attic-ts-serve:
    content: |
      {"TCP":{"443":{"HTTPS":true}},
      "Web":{"$${TS_CERT_DOMAIN}:443":
          {"Handlers":{"/":
          {"Proxy":"http://127.0.0.1:8080"}}}},
      "AllowFunnel":{"$${TS_CERT_DOMAIN}:443":false}}

services:
  attic-ts:
    image: tailscale/tailscale:latest
    container_name: attic-ts
    hostname: attic
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/serve.json
      - TS_USERSPACE=true
    configs:
      - source: attic-ts-serve
        target: /config/serve.json
    cap_add:
      - net_admin
      - sys_module
    volumes:
      - /etc/attic/tailscale/ts-state:/var/lib/tailscale
    restart: always

  attic-app:
    container_name: attic-app
    image: ghcr.io/zhaofengli/attic:latest
    command: ["-f", "/attic/server.toml"]
    restart: always
    network_mode: service:attic-ts
    depends_on:
      - attic-ts
    environment:
      - ATTIC_SERVER_TOKEN_HS256_SECRET_BASE64=${ATTIC_SERVER_TOKEN_HS256_SECRET_BASE64}
    volumes:
      - /etc/attic/data:/data
      - /etc/attic/storage:/attic/storage
    healthcheck:
        test:
            [
                "CMD-SHELL",
                "wget --no-verbose --tries=1 --spider http://attic-app:8080 || exit 1",
            ]
        interval: 15s
        timeout: 10s
        retries: 10
        start_period: 15s
    deploy:
        resources:
            reservations:
                cpus: 1.0
