volumes:
  fresh-data:
  fresh-extensions:

services:
  freshrss:
    image: freshrss/freshrss:latest
    container_name: freshrss
    restart: always
    volumes:
      - fresh-data:/var/www/FreshRSS/data
      - fresh-extensions:/var/www/FreshRSS/extensions
    environment:
      TZ: Australia/Sydney
      CRON_MIN: '3,33'
      TRUSTED_PROXY: 10.10.20.0/24 127.0.0.1/32
    healthcheck:
      test: ["CMD", "cli/health.php"]
      timeout: 10s
      start_period: 60s
      start_interval: 11s
      interval: 75s
      retries: 3
    ports:
      - "${PUBLISHED_PORT:-8081}:${LISTEN:-80}"
    logging:
      options:
        max-size: 5m
